<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="eu.tendera.olv.core.servlet.OLVServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.tendera.olv.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
