<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="eu.tendera.olv.eclipse.servlet.OtrosServlet"
            load-on-startup="true">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.tendera.olv.eclipse.preferences.OLVPreferencePage"
            id="OtrosLogViewerPlugin.preferencePage"
            name="OtrosLogViewer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="eu.tendera.otros.plugin.menuContribution2">
         <menu
               icon="images/logo16.png"
               label="label">
         </menu>
         <toolbar
               id="eu.tendera.otros.plugin.toolbar2">
            <command
                  commandId="org.eclipse.ant.ui.openExternalDoc"
                  icon="images/logo16.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
